@charset "UTF-8";
@font-face {
  font-family: "star_jediregular";
  src: url("../../font/starjedi-webfont.woff2") format("woff2"), url("../../font/starjedi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../../font/raleway-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "star_jediregular";
  color: #FFC000;
  text-transform: lowercase;
}

h1 {
  text-align: center;
  margin: 20px auto;
}

body {
  background-color: #1F1F1F;
  color: white;
  font-family: "raleway";
}
body main {
  min-height: 65vh;
}

form {
  min-width: 300px;
  max-width: 600px;
  margin: 30px auto;
  padding: 48px 36px;
  border-radius: 10px;
}

label {
  display: block;
  margin: 16px 0;
  font-size: 18px;
}

input,
select,
textarea,
button {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  min-height: 32px;
  margin-top: 8px;
  padding: 8px 8px;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  box-sizing: border-box;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.rgpd {
  color: #FFC000;
}

.btn {
  padding: 12px;
  background-color: #FFC000;
  color: #1F1F1F;
  border: 1px solid #FFC000;
  cursor: pointer;
  border-radius: 4px;
  font-family: "star_jediregular";
}
.btn:hover {
  background-color: #1F1F1F;
  color: #FFC000;
}

header {
  background: url("../../images/fondBanniereWoF1.png") no-repeat;
  background-size: cover;
  padding: 10px;
}
header .menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}
header .menus figure img {
  width: 120px;
}
header .menus .menuToggle {
  display: block;
  text-align: right;
  margin: 20px;
  color: #FFC000;
}
header .menus .menuToggle .menuIcon {
  display: block;
  font-size: 60px;
  cursor: pointer;
}
header .menus .menuToggle #menuToggleCheckbox {
  display: none;
}
header .menus .menuP,
header .menus .menuS {
  display: none;
  flex-direction: column;
  align-content: flex-start;
  opacity: 0;
  transition: opacity 0.3s ease;
}
header .menus .menuP li a,
header .menus .menuS li a {
  font-family: "star_jediregular";
  font-size: 14px;
  margin: -5px;
}
header .menus .menuP li a {
  color: #FFC000;
}
header .menus .menuS li a {
  color: white;
}
header .menus #menuToggleCheckbox:checked ~ .menuP,
header .menus #menuToggleCheckbox:checked ~ .menuS {
  display: flex;
  opacity: 1;
}
@media (min-width: 1300px) {
  header .menus {
    justify-content: center;
  }
  header .menus .menuP,
  header .menus .menuS {
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
    transition: none;
  }
  header .menus .menuP li a,
  header .menus .menuS li a {
    font-family: "star_jediregular";
    font-size: 20px;
    margin: 15px;
  }
  header .menus .menuToggle .menuIcon {
    display: none;
    /* Masquer le bouton du menu sur les écrans larges */
  }
}

.position {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
.position .starWarsIntro {
  width: 85%;
  height: 50%;
  font-family: "raleway";
  color: #FFC000;
  background: url(../../images/espace.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.position .starWarsIntro p.introText {
  position: relative;
  max-width: 16em;
  font-size: 35px;
  margin: 20% auto;
  color: #4ee;
  opacity: 0;
  z-index: 1;
  text-align: center;
  animation: intro 2s ease-out;
}
.position .starWarsIntro .mainContent {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 50em;
  bottom: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(200px) rotateX(10deg);
}
.position .starWarsIntro .mainContent :after {
  position: absolute;
  content: " ";
  top: 0;
  bottom: 60%;
  pointer-events: none;
}
.position .starWarsIntro .titleContent {
  position: absolute;
  top: 100%;
  animation: scroll 120s linear 4s forwards;
}
.position .starWarsIntro .titleContent .contentHeader {
  text-align: center;
}
.position .starWarsIntro .mainLogo {
  position: absolute;
  width: 2.6em;
  left: 50%;
  top: 5vh;
  font-size: 10em;
  text-align: center;
  margin-left: -1.3em;
  opacity: 0;
  z-index: 1;
  animation: logo 10s ease-out 2.5s;
}
.position .starWarsIntro .mainLogo img {
  max-width: 50%;
}

@keyframes intro {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes logo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
@media screen and (min-width: 768px) {
  .position .starWarsIntro .mainContent {
    font-size: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .position .starWarsIntro .mainContent {
    font-size: 50px;
  }
}
.saga h2 {
  display: none;
  text-align: center;
  color: #FFC000;
}

.carouselContainer {
  display: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}
.carouselContainer .carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carouselContainer .carousel .carouselInner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: relative;
  width: 100%;
}
.carouselContainer .carousel .carouselInner img {
  flex: 0 0 auto;
  width: 100px;
  height: auto;
  margin: 0 15px;
  transition: all 0.3s ease;
  object-fit: contain;
}
.carouselContainer .carousel .carouselInner img.active {
  transform: scale(1.1);
  opacity: 1;
}
.carouselContainer .carousel .carouselInner img:not(.active) {
  opacity: 0.6;
}
.carouselContainer .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  box-sizing: border-box;
}
.carouselContainer .prev,
.carouselContainer .next {
  background-color: #1F1F1F;
  border: 1px solid #FFC000;
  cursor: pointer;
  color: #FFC000;
  margin: 30px 20px;
  width: 40px;
}
.carouselContainer .prev:hover,
.carouselContainer .next:hover {
  background-color: #FFC000;
  color: #1F1F1F;
}

@media screen and (min-width: 1200px) {
  .saga h2 {
    display: block;
  }
  .carouselContainer {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  .carouselContainer .carousel .carouselInner img {
    width: 120px;
  }
}
@media screen and (min-width: 1666px) {
  .carouselContainer .carousel .carouselInner img {
    width: 150px;
  }
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup .popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1F1F1F;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.popup .popupContent p {
  margin-bottom: 5px;
  color: white;
}
.popup .popupContent p a {
  color: #FFC000;
}
.popup .popupContent button {
  padding: 10px 20px;
  background-color: #277292;
  color: #FFC000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.popup .popupContent button:hover {
  background-color: #0056b3;
}

footer {
  background: url("../../images/fondFooterWoF1.png") no-repeat;
  background-size: cover;
  padding: 10px;
  margin-top: 20px;
  align-items: center;
}
footer .menuF {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}
footer figure img {
  width: 120px;
}
footer p {
  color: #277292;
}

.menuL {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.menuL li a {
  font-family: "star_jediregular";
  font-size: 18px;
}

.menuFP li a {
  color: #FFC000;
}

.menuFS li a {
  color: white;
}

.gridContainer {
  display: flex;
  justify-content: center;
}
.gridContainer .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Deux colonnes de largeur égale */
  gap: 20px;
  /* Espace entre les éléments */
  margin: 30px 10px;
}
.gridContainer .poster {
  width: 120px;
  /* Largeur de la couverture */
  height: auto;
  /* Hauteur de la couverture */
  object-fit: cover;
  /* Ajustement de la taille de l'image pour remplir complètement le conteneur */
  transition: 0.3s ease;
  /* Transition fluide pour l'effet de survol */
  margin: 0 20px;
}
.gridContainer .poster:hover {
  box-shadow: 3px 4px 8px rgba(212, 204, 204, 0.8);
}
@media screen and (min-width: 768px) {
  .gridContainer .grid {
    grid-template-columns: repeat(3, 1fr);
    /* Trois colonnes pour les écrans plus larges */
  }
  .gridContainer .poster {
    width: 150px;
  }
}
@media screen and (min-width: 980px) {
  .gridContainer .grid {
    grid-template-columns: repeat(4, 1fr);
    /* Quatre colonnes pour les écrans plus larges */
  }
  .gridContainer .poster {
    width: 180px;
  }
}
@media screen and (min-width: 1250px) {
  .gridContainer .grid {
    grid-template-columns: repeat(5, 1fr);
    /* cinq colonnes pour les écrans plus larges */
  }
  .gridContainer .poster {
    width: 200px;
  }
}

.archive {
  border: 2px solid #FFC000;
  margin: 10px 20px;
}
.archive p {
  margin: 5px 10px;
}

.profil {
  margin: 10px 20px;
}
.profil h2 {
  margin: 20px 0;
}
.profil p,
.profil a {
  margin-bottom: 20px;
}
.profil span {
  font-family: "star_jediregular";
  color: #FFC000;
}
.profil a {
  color: #FFC000;
}

.modal {
  display: none;
  text-align: center;
  font-family: "star_jediregular";
  color: #FFC000;
}

.delete {
  border: 1px solid #FF0000;
  background-color: #FF0000;
}

.tableContainer {
  border: 2px solid #FFC000;
  margin: 20px;
  overflow: scroll;
  width: calc(100% - 40px);
  position: relative;
}

table {
  border-spacing: 0;
}
table tbody tr td {
  padding: 10px;
  border: 1px solid rgba(231, 221, 221, 0.1215686275);
  width: 20%;
}
table tbody tr td:first-child {
  width: 20px;
}
table tbody tr td .text {
  min-width: 200px;
}
table tbody tr td input,
table tbody tr td button {
  min-width: fit-content;
  max-width: 150px;
}
table tbody tr td form {
  min-width: auto;
}

.details p {
  margin: 15px 20px;
}

.poster {
  display: flex;
  justify-content: center;
}

.poster img {
  width: 300px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .details {
    display: grid;
    grid-template-columns: auto 1fr;
    /* Une colonne pour l'image et une pour les détails */
    grid-column-gap: 20px;
    /* Espace entre les colonnes */
    align-items: start;
    /* Alignement vertical des éléments */
    margin: 20px;
  }
  .poster {
    grid-row: 1/span 7;
    /* Couvre 7 lignes pour aligner avec les paragraphes */
  }
}
.comments h2 {
  text-align: center;
}
.comments .comContainer {
  margin: 20px auto;
  max-width: 1250px;
  min-width: 250px;
  overflow: scroll;
  height: 350px;
}
.comments .com,
.comments .noCom {
  border: 1px solid #FFC000;
  margin: 30px 40px;
  padding: 10px;
}
.comments .com p {
  margin: 10px 15px;
}
.comments .com p:last-of-type {
  text-align: end;
}

#connect {
  text-align: center;
  padding: 20px;
}
#connect .btn {
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  #connect .btn {
    font-size: 1rem;
  }
}
.mentions {
  margin: 20px 30px;
}
.mentions p {
  margin: 10px 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  overflow: hidden;
  /* Empêcher la barre de défilement */
}

.p404 p {
  margin: 30px auto;
  text-align: center;
  font-size: 1.3rem;
}
.p404 p a {
  color: #FFC000;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta .btn {
  min-width: 340px;
  text-align: center;
  margin: 20px;
}

.errorMessages {
  border: 3px solid #FF0000;
  padding: 10px;
  color: #FFC000;
  text-align: center;
  margin: 30px;
}

.showMessages {
  border: 3px solid #FFC000;
  padding: 10px;
  color: #FFC000;
  text-align: center;
  margin: 30px;
}

.nop {
  text-align: center;
  border: 2px solid #FF0000;
  font-family: "star_jediregular";
  padding: 10px;
  margin: 30px;
}

#del {
  color: #1F1F1F;
  background-color: #FF0000;
  min-width: fit-content;
  max-width: 150px;
  border: 1px solid #FF0000;
  cursor: pointer;
}
#del:hover {
  color: #FF0000;
  background-color: #1F1F1F;
}/*# sourceMappingURL=style.css.map */